body{
    margin: 25px 30px;
}

#background_image{

  background-image: url(home.png);
  height: 520px;  
  width: 1220px;
  position: relative;
}


#NUUK-brand{
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 35px;
  margin-left: 70px;
  border: 1px solid #E47312;
  background-color: #E47312;
  width: 100px;
  height: 25px;
  padding: 40px 30px; 
  position: relative;

}
#navigation-bar{
  position: absolute;
  display: inline-block;
  margin-top: 50px;
  width: 52%;
  height: 80px;
  text-align: left;
  /* border: 1px solid white; */
  background-color: white;
  padding-left: 280px ;
 

} 
a{
  display: inline-block;
   margin-right: 35px;
   font-size: 12px;
   font-family: 'Dosis', sans-serif;
   padding-top: 25px;
   letter-spacing: 1px;
   cursor: pointer;
   font-weight: 600;
   
   
}
button{
 
  border: 1px solid #E47312;
  background-color: #E47312; 
  padding: 28px 27.98px; 
  height: 80px;
  color: white;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
  font-weight: 600;
  
}

#quote1{
    margin-left: 66px ;
    color: #fff;
    font-size: 62px;
    line-height: 70px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    width: 500px;
}
#quote2{
  display: inline-block;
  margin-left: 66px ;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 10px;
}

#socialIconBar{
   display: flex;
   flex-direction: column;
   margin-left: auto;
   width: 60px;
   height: 210px;
   position: absolute;
   right: 0;
   top: 180px;
   background-color: #0A1229;

}

.socail-img{
  margin-left: 20px;
  padding-bottom: 5px;
}

#contact-info{
   display: flex;
   width: 80%;
   height: 250px;
   border: 1px solid #E47312;
   position: absolute;
   right: 0;
   margin-top: 5px;  
   background-color: #E47312;
   margin-right: 50px;

} 

.sub-info{
  padding-top: 50px; 
  width: calc(33.33%);
  /* border: 1px solid black; */
  margin: 15px 15px;
  text-align: left; 
  margin-left: 120px;
  
}

.phone-no{
  color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;

}
.phone-img{
  position: absolute;
  top: 35px;
  left: 175px;

}
.contacts-img{
  position: absolute;
  top: 35px;
  left: 505px;
}
.time-img{
  position: absolute;
  right: 128px;
  top: 35px;
}
.white-text1{
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 17px;
  line-height: 25px;
  font-family: 'Dosis', sans-serif;
}

/* @media (max-width: 400px) {
  #NUUK-brand{
      margin: 0px; 
  } 
  #navigation-bar{
    display: none;
  }
} */

#SecondPage-mainHeading{
    display: inline-block;
    margin-top: 180px;
    font-family: 'Dosis', sans-serif;
    margin-left: 70px;
    font-size: 42px;
    line-height: 40px;
    font-weight: 600;
    
}

#specialization-section{
  /* flex-direction: row; */
  display: flex;
  width: 100%;
  height: 350px;
  /* border: 1px solid black; */
  /* margin-left: 50px; */
  margin-top: 35px; 
  
}

.sub-section{

  width: 25%;
  /* border: 1px solid black; */
   margin: 5px 5px;
   text-align: left;
   margin-right: 30px;
   margin-left: 25px;
}

.sub-img{
  display: inline-block;
   margin-top: 10px; 
   margin-left: 15px;
  
}

.text-name{
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
    color: #0A1229; 
    margin-right: 100px;
    font-weight: 600;
}

.text-content{
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    
}
.sec-learnmore{
  margin-left: 20px;
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

.sec-learnmore:hover{
  padding-bottom: 2px;
   border-bottom: 2px solid #E47312;
}

#third-page-img{
  margin-left: 70px;
  margin-top: 150px;
}

#sec-maintext{
  font-size: 42px;
  line-height: 40px;
  font-family: 'Dosis', sans-serif;
}
#third-main{
  display: flex;
}

#third-page-content{
  margin-left: 110px;
  margin-top: 110px;
}

#sec-text{
  font-family: 'Dosis', sans-serif;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
  margin-right: 30px;
}
#third-link{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}

#third-link:hover{
  padding-bottom: 5px;
  border-bottom: 2px solid #E47312;
}

#section-numbers{
  display: flex;
  margin-top: 100px;
  /* border: 1px solid black; */
  width: 90%;
  margin-left: 67px;

}

.num-text{
   color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
   text-align: center; 
   
}
.sub-section{
  width: 25%;
  /* border: 1px solid black; */
  
}

.sec-text{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px; 
    width: 200px;
}
/* ---------------------------------------------- */
#grey-wrapper{
  background-color: #f7f8fc;
  width: 100%;
  height: 2950px; 
  margin-top: 70px;
} 

.Main-tag{
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Dosis', sans-serif;
  margin: 100px 25px;
}

#image-section1{
   display: flex;
   width: 100%;
   /* border: 1px solid black; */
   height: 370px;
   /* padding-left: 5px;
   padding-left: 5px; */
   margin-top: 5px;

}
.images{
   width: 33.33%;
   /* border: 1px solid black; */
   height: 350px; 
   margin: 20px 10px;
   position: relative;
 
}

#image-section2{
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
  height: 370px;

}

/* .images:hover{
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 200px;
   background-color: #E47312;

} */

.middle-circle{
    width: 100px;
    height: 100px;
    border: 1px solid #E47312;
    background-color: #E47312;
    /* padding-top: 70px; */
    text-align: center;
    border-radius: 50px;
    position: absolute;
    bottom: 130px;
    left: 150px;   
}

.middle-text{
    /* width: 100px;
    height: 150px;
    border: 1px solid #E47312;
    background-color: #E47312;
    position: absolute;  */
    /* padding-top: 70px;  */
    text-align: center;
    border-radius: 50px;
    position: absolute;
    bottom: 170px;
    left: 160px;   
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
}
.full-circle{
  display: none;
}

.images:hover .full-circle{
    /* display: none; */
    cursor: pointer;
}

#bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  height: 320px ;
  border: 1px solid #E47312;
  background-color: #E47312;

}
#text1{
  color: #fff;
  font-size: 42px;
  line-height: 40px;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
}

#text2{
  color: #fff;
  margin: 0%;
}

#button1{
  letter-spacing: 1px;
  margin-top: 25px;
}

#button1:hover{
    text-decoration: underline;
}
/* ............................................. */
.professional-section{
  display: flex;
  flex-direction: row;
   width: 90%;
   height:400px;
   /* border: 1px solid blue; */
   margin-left: 50px;
   
} 
.professional-photo{
  position: relative;
   width: 24%;
   height: 400px;
   /* border: 1px solid black; */
   margin: 0px 10px;
}
 

.sec-name{
  width:100% ;
  height: 100px;
  background-color: blue;
  position: absolute;
  bottom: 0px;
  background-color: white;

} 

.sec-name > h3, p{
  text-align: center;
  margin-right: 45px;
  line-height: 15px;
}

.sec-name > h3{
  font-family: 'Dosis', sans-serif; 
  font-weight: 100;
  letter-spacing: 0.5px;
} 

.sec-name > p{
   color: #919197;
   font-family: 'Dosis', sans-serif; 
   font-weight: 100;
   opacity: 0.9;
}

.sec-socailmedia{
   width: 60px;
   height: 170px;
   background-color: #E47312;
   position: absolute;
   bottom: 0px;
   right: 0px;
}
/* -------- */


#Total-testinomials{
   display: flex;
}

#left-part-section{
  display: inline-block;
  margin: 150px 0px;
  margin-left: 50px;
  margin-top: 410px;
  width: 30%;
  font-family: 'Dosis', sans-serif ;
}

#left-part-section >  h1  {
    font-size: 46px;
    line-height: 30px;
    letter-spacing: 1px;
}

#left-part-section > h4{
  color: #9191A8; 
  font-family: 'Dosis', sans-serif;
  color: #919197;
 
}

button:hover{
  border-bottom: 1px solid #E47312;
}

#right-part-section1{
  margin-left: 80px;
  margin-top: 170px;
}

#block-card1{
    width: 280px;
    height:  240px;;
    background-color: #fff;
    margin-bottom: 50px;
    position: relative;
    
}

.circle-design{
    width: 60px;
    height: 60px;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    border-radius: 100%;
   position: absolute;
   left: 100px;
   bottom: 200px;
}
.circle-white {
    color: blue;
    font-size: 80px;
    line-height: 80px;  
}



#block-card2{
    width: 280px;
    height: 240px;
    background-color: #fff;
    position: relative;
}

#right-part-section2{
  margin-left: 40px;
  margin-top: 170px;
}

#block-card1-1{
  width: 280px;
  height:  240px;;
  background-color: #fff;
  margin-left: 10px;
  margin-top: 170px;
  margin-bottom: 50px;
  position: relative;
}

#block-card2-2{
  width: 280px;
  height: 240px;
  background-color: #fff;
  margin-left: 10px;
  position: relative;
}

.sub-name{
    /* display: inline-block ;
    margin-left: 75px;
    margin-top: 0px ; */
    display: inline-block;
    margin: 15px 85px;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500; 
    font-style: bold; 
} 

 /* #block-card2 > p{
  display: inline-block ;
  margin-left: 70px;
  margin-top: 60px ;
} 

#block-card1-1 > p{
  display: inline-block ;
  margin-left: 70px;
  margin-top: 60px ;
}

#block-card1 > p{
  display: inline-block ;
  margin-left: 70px;
  margin-top: 60px ;
}
#block-card2-2 > p{
  display: inline-block ;
  margin-left: 70px;
  margin-top: 60px ;
}  */

.sub-heading{
   text-align: center;
   font-family: 'Dosis', sans-serif ;
   color: #bdbdc9; 
}

.sub-text{
  display: inline-block;
  margin-top: 20px;
   width: 200px;
   margin-left: 35px;
   text-align: center; 
   font-family: 'Dosis', sans-serif;
   color: #919197;
   line-height: 25px;
   letter-spacing: 0.3px;
}

#new-text{
display: inline-block;
margin-top: 100px;
font-family: 'Dosis', sans-serif ;
font-weight: 600;
margin-left: 70px;
font-size: 42px;
line-height: 40px;
}

#blog-section {
    display: flex;
    width: 90%;
    height: 450px;
    /* border:2px solid black; */
    margin: 80px auto;
}

.blog-post{
    width: 100%;
    /* border: 1px solid blue; */
    margin-right: 15px;
    margin-left: 15px; 
    position: relative;
}

.blog-content{
    width: 99.2%;
    height: 230px;
    background-color: #E47312;
    position: absolute;
    top: 218px;

    
}

/* .blog-content > h2, p, a{
   margin-left: 20px;
   font-family: 'Dosis', sans-serif;
   color: white; 
} */

.blog-content > p{
  margin: 20px;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 17px;
  line-height: 25px;
  font-family: 'Dosis', sans-serif;
  display: flex; 
}

.blog-content > h2{
   margin: 20px;
  font-size: 19px;
  line-height: 26px;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.blog-content > a{
  margin-left: 20px;
  font-size: 13px;
  letter-spacing: 1px;
  color: white; 
  font-weight: 600;
}

.blog-content > a:hover{
  padding-bottom: 5px;
  border-bottom: 2px solid white; 
}

#orange-bar{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: 170px;
   background-color: #E47312;
   color: #fff;
   font-size: 15px;
   line-height: 20px;
   
}

#company{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}

#last-section{
    display: flex;
    flex-direction: row;
    background-color: #0A1229;
    width: 90%;
    height: 550px ;
    display: flex;
    margin: 0 auto; 
    position: relative;
}

/* #section{
   margin-top:40px ;
   width: 90%;
   display: flex;
   justify-content: space-around;
   color: white;
   margin-left: 40px;
   font-family: 'Dosis', sans-serif;
   font-size: 15px;
   letter-spacing: 1px;
   font-weight: 500;

}

.line{
  margin-bottom: 1px;
   width: 95px;
   height: 1px;
   background-color: #E47312;
}


 */

 .line1{
  color: white;
  margin-right: 0%;
  margin-left: 50px;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  font-weight: 1000px;  
  font-size: 15px;
  line-height: 20px;
 }

 .line1-1{
  width: 140px;
  height: 1.5px;
  background-color: #E47312;
  /* margin-bottom: 3px; 
  margin-left: 20px; */
  position: absolute;
  right: 740px;
  top: 68px;   
 }

 .first-line{
    display: flex;
    margin-top: 60px;
 }
.content{ 
    margin-top: 10px;
    color: white;
    width: 250px;
    font-family: Dosis, sans-serif;
    font-size: 17px;
    line-height: 25px;
   margin-left: 50px;
   margin-bottom: 10px;
}

.blog1 > a{
   color: white;
   margin-left: 50px ;
   font-weight: 600;
} 

.blog1 > a:hover{
   padding-bottom: 4px;
   border-bottom: 2px solid white;
}

.line2{
  color: white;
  margin-right: 0%;
  margin-left: 50px;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  font-weight: 600px;  
  font-size: 15px;
  line-height: 20px;
}

.line2-1{
  width: 140px;
  height: 1.5px;
  background-color: #E47312;
  /* margin-bottom: 3px; 
  margin-left: 20px; */
  position: absolute;
  right: 440px;
  top: 68px; 
}
.section2{
   margin-left: 30px;
}

.content2{
    margin-left: 50px ;
    color: white;
    width: 250px;
    font-family: Dosis, sans-serif;
    font-size: 13px;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

.line3-1{
  width: 140px;
  height: 1.5px;
  background-color: #E47312;
  position: absolute;
  right: 120px;
  top: 68px; 
}

.image3-1{
  width: 22px;
  margin-left: 50px;
  margin-right: 15px;
}

.phno{
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  font-family: Dosis, sans-serif;
  font-weight: 600;
  margin-right: 5px;
}

.line3-2{
   color: #f7f8fc;
   display: flex;
   flex-direction: row;
}
.ph-num{
  color: hsla(0, 0%, 100%, 0.7);
  font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
    margin-left: 60px;

}
/* .ph-num2{
  color: hsla(0, 0%, 100%, 0.7);
  font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;

}
.line3-2-2{
  color: #f7f8fc;
  display: flex;
  flex-direction: row; 
} */

#end-brand{
   width: 160px;
   height: 120px;
   background-color: #E47312;
   position: absolute;
   bottom: 0;
   left: 50px;

}

#nuuk-end-img{
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 35px;
}




